html * {
    font-size: 1em !important;
    font-family: Sahel !important;
}

#nav-container {
    background-color: rgb(231, 239, 248);
    flex-wrap: nowrap;
}

.logo-img {
    height: 100px;
    width: 100px;
    flex-wrap: nowrap;
}

.container-fluid {
    width: 100%;
    flex-wrap: nowrap;


}
#menu{
    color : white;

}
#login-btn {
    /*background-color: white; !* Green *!*/
    /*background-color: white;*/
    color: black;
    border: 3px solid #067cb5;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#login-btn:hover {
    background-color: #008CBA;
    color: white;
}
#reg-btn {
    background-color: #006aaa; /* Green */
    border: 3px solid #067cb5;
    color: white;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#reg-btn:hover {
    background-color: #008CBA;
    color: white;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    /*transition: all 0.5s ease;*/
}

.nav{
    flex-wrap: wrap;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 300px;
    width: 0px;
    height: 100%;
    color: white;
    margin-right: -300px;
    overflow-y: auto;
    background: #006aaa;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper {
    padding-right: 300px;
}

#sidebar-wrapper {
    width: 250px;
}